{%extends 'main/base.html'%}

{% block body %}
{%include 'main/nav.html'%}
<div class="container">
<h1 class="center-align"> My Accomplishments</h1>
<ul class="collection">
    <li class="collection-item">Amongst the top rated coders of my college as rated on codeforces and codechef.</li>
    <li class="collection-item">Had a World Rank of 4682 in Google Kickstart.</li>
    <li class="collection-item">Have achieved a world rank of under 200 in many codechef long challenges.</li>
    <li class="collection-item">Was amongst the top 3 rankers of my institute in Smart India Hackathon(SIH).</li>
  </ul>
</div>

{% endblock %}